body {
    position: relative;
    overflow-x: hidden;
}
ul {
    list-style-type: none;
}


ul.navbar-nav {
    gap: 10px
}
ul.navbar-nav .nav-item {
    padding: 0.5rem 0.2rem;
}
ul.navbar-nav .nav-item a, 
ul.navbar-nav .nav-item span.line {
    display: block;
    font: bold 16px / 1 Cairo;
}

ul.navbar-nav .nav-item span.line {
    width: 0;
    height: 3px;
    background-color: #1c7ed6;
    transition: width .4s ease;
}

ul.navbar-nav .nav-item:hover span.line {
    width: 100%;
}

ul.navbar-nav .nav-item:hover > a::first-letter {
    color:#1c7ed6
}

ul.navbar-nav .nav-item > ul li a {
    border-left: 5px solid transparent;
}
ul.navbar-nav .nav-item > ul li:hover a {
    border-left-color: #1c7ed6;
    background-color: #77a8d3;
    color: white
}

.carousel .carousel-item .container-fluid {
    width: 100%;
    background-color: #fff6 !important;
}