body {
    position: relative;
    overflow-x: hidden;
    height: 5000px;
    font-family: cairo;
}

:root {
    --main-color: #1c7ed6;
    --main-color-o: #1c7ed655;
    --light-grey: #ccc;
    --light: #fff;
}

.container {
    height: 100%;
    width: 80%;
    margin: auto;
}

p.text-responsive {
    font-size: 1.1rem
}

ul {
    list-style-type: none;
}

.bg-primary {
    background-color: var(--main-color) !important;
}

.text-danger {
    color: red !important;
}

ul.navbar-nav {
    gap: 10px;
}

ul.navbar-nav .nav-item {
    padding: 0.5rem 0.2rem;
}

ul.navbar-nav .nav-item a,
ul.navbar-nav .nav-item span.line {
    display: block;
    font: 500 16px / 1 Cairo;
}

ul.navbar-nav .nav-item span.line {
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: width .4s ease;
}

ul.navbar-nav .nav-item:hover span.line {
    width: 100%;
}

ul.navbar-nav li.nav-item>ul {
    transition: all .4s ease
}

ul.navbar-nav .nav-item:hover>a::first-letter {
    color: var(--main-color);
}

ul.navbar-nav .nav-item>ul li a {
    border-left: 5px solid transparent;
    transition: all 0.3s ease-in-out
}

ul.navbar-nav .nav-item>ul li:hover a {
    border-left-color: var(--main-color);
    background-color: var(--main-color-o);
    color: var(--light)
}

header .search input,
header .user-form button,
header .search button {
    height: 30px;
    line-height: 30px;
    padding: 0 1em;
    border: 1px solid #1c7ed6;
    color: #1c7ed6;
    font-weight: 600;
}

#myCarousel {
    height: 40vw;
}

#myCarousel .carousel-indicators button {
    width: 3vw;
    background-color: var(--main-color-o);
    height: 0.5vw;
}

#myCarousel .carousel-indicators button:hover,
#myCarousel .carousel-indicators button.active {
    background-color: var(--main-color);
}

.carousel .carousel-inner .carousel-item {
    height: 40vw;
    background-size: 100% 100%;
}

.carousel .carousel-inner .carousel-item .container {
    position: relative;
    max-width: 100%;
}

.carousel .carousel-inner .carousel-item .carousel-caption {
    position: absolute;
    top: 5vw;
    transition: all .1s ease-in-out;
}

.carousel .carousel-inner .carousel-item h2 {
    font: bold 3vw/1 Cairo;
}

.carousel .carousel-inner .carousel-item p {
    margin-top: 2vw;
    font: normal 1.5vw/1.6 Cairo;
    max-width: 45%;
    text-align: justify;
}

.carousel .carousel-inner .carousel-item button {
    color: var(--main-color);
    font: bolder 1.2vw /1.4 Cairo;
    background-color: var(--light-grey);
    border: 2px solid var(var(--light-grey));
    float: right;
    margin-top: 1vw;
}

.carousel .carousel-inner .carousel-item button:hover {
    border-color: var(--main-color);
    background-color: var(--light);
    box-shadow: 0 0 5px 2px #000;
}

aside .social-links .aside-icon {
    height: 4.5vw;
    position: relative;
    padding: 0.6vw;
}

aside .social-links .aside-icon:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border: 0.6vw solid transparent;
    top: 100%;
    left: 1vw;
    z-index: 99;
}

aside .social-links .aside-icon:nth-child(1) {
    background-color: rgb(56, 84, 211);
}

aside .social-links .aside-icon:nth-child(1):after {
    border-top-color: rgb(56, 84, 211);
}

aside .social-links .aside-icon:nth-child(2) {
    background-color: rgb(98, 216, 171);
}

aside .social-links .aside-icon:nth-child(2):after {
    border-top-color: rgb(98, 216, 171);
}

aside .social-links .aside-icon:nth-child(3) {
    background-color: rgb(96, 186, 238);
}

aside .social-links .aside-icon:nth-child(3):after {
    border-top-color: rgb(96, 186, 238);
}

aside .social-links .aside-icon:nth-child(4) {
    background-color: rgb(5, 119, 185);
}

aside .social-links .aside-icon:nth-child(4):after {
    border-top-color: rgb(5, 119, 185);
}

aside .social-links .aside-icon:nth-child(5) {
    background-color: rgb(156, 52, 241);
}

aside .social-links .aside-icon a i {
    color: var(--light);
    font-size: 32px;
    line-height: 3vw;
}

/*  fixed bgs */

section.navs {
    
}
section.bg-fixed {
    background-image: url('../images/fixed-bg-4.webp'); 
    background-attachment: fixed; 
    background-size: 100%;
    height: 400px;
    box-shadow:  0 0 10px 5px #333e33c7 inset;
    opacity: 0.4;
}
section.cards {
    overflow: hidden;
    

}

section.cards .card {
    margin-bottom: 12px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

section.cards .card img,
section.cards .card .card-body {
    position: absolute;
}
section.cards .card img {
    top: 0;
    transition: all 3s linear;
}

section.cards .card .card-body {
    background-color: #fff;
    width: 100%;
    padding: 2rem;
    bottom: 0;
    height: 180px;
}
section.cards .card:hover img {
    top: -650px
}


/* Team */
#team .card,
#team .card .card-body {
    overflow: hidden;
}
#team .card .row:after {
    content: "";
    display: block;
    background-color: #fff;
    height: 500px;
    width: 45px;
    position: absolute;
    z-index: 999;
    top: -50px;
}

#team .card .row.one::after,
#team .card .row.three::after {
    right: 40%;
    transform: rotate(5deg);
}

#team .card .row.two::after,
#team .card .row.four::after {
    left: 40%;
    transform: rotate(-5deg);

}

/* Navs and Tabs */

nav .nav-tabs {
    padding: 0 40px;
}

label {
    font-size: 15px;
    font-weight: 600
}

nav .nav-tabs button.nav-link {
    margin: 0 3px 3px;
    color: #fff;
    background-color: #7293adb4
}

::placeholder {
    color: rgba(0, 88, 139, 0.281) !important
}

nav .nav-tabs button.nav-link.active {
    color: #5594c7 !important;
    box-shadow: -4px -4px 8px 1px #3332;
    font-weight: bold;
    margin-right: 8px
}

.tab-content {
    margin-top: -4px;
}

.tab-content .tab-pane {
    border-radius: 6px;
    background-color: #fff;
    padding: 0 !important
}

.tab-pane h4 {
    margin: 0;
    font: bold 14px/1.4 Cairo;
    color: #5594c7;
    border: 2px solid transparent;
    display: inline-block;
    border-bottom-color: #345678;
    padding: 6px 1em;
}

form#myForm .input-group>.input-group-text,
form#myForm .input-group>.form-control {
    height: 30px !important;
    color: #5594c7;
    border: 1px solid #5594c7 !important
}

form#myForm .input-group>input[type=file]::file-selector-button {
    color: #5594c7;
    padding: 0 1em 5px;
    margin: 0;
    width: 0;
    display: none
}

form#myForm .form-floating>label {
    color: #5594c7;
}

form#myForm .form-floating>textarea.form-control {
    color: #5594c7;
    border: 1px solid #5594c7 !important
}

form#myForm .list-group>.list-group-item {
    height: 30px !important;
    line-height: 30px;
    padding: 0 16px;
    color: #5594c7;
    border: 1px solid #5594c7 !important
}

/* fieldset styles */

fieldset {
    border: 1px solid #ccc
}
legend {
    font: 600 16px/1 Cairo;
    top: -1em;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    display: inline-block;
    width: auto;
    height: 36px
}

.customCards .card {
    transition: all .4s ease;
}
.customCards .card:hover {
    transform: scale(1.1)
}

@media screen and (max-width: 992px) {
    nav .nav-tabs button.nav-link {
        padding: 5px
    }
    #team .card .row:after {
       
        display: none;
        
    }
    nav .nav-tabs button.nav-link.active {
        padding: 5px 12px;
    }
    nav .nav-tabs {
        padding: 0 10px;
    }
    p.text-responsive {
        font-size: 0.8rem
    }
    .section2 .image {
        padding: 40px 10px 20px;
    }
    ul.navbar-nav {
        gap: 1px
    }
    ul.navbar-nav li.nav-item {
        padding: 0;
    }
    aside .social-links .aside-icon {
        height: 5vw;
    }
    ul.navbar-nav .nav-item span.line {
        display: none;
    }
    aside .social-links .aside-icon a i {
        font-size: 28px
    }
}

@media screen and (max-width: 720px) {
    aside .social-links .aside-icon {
        height: 6vw;
    }


    section.cards .card:hover img {
        top: -740px
    }
    
    
    aside .social-links .aside-icon a i {
        font-size: 18px
    }
}


@media screen and (max-width: 360px) {


    section.cards .card:hover img {
        top: -800px
    }
    
    
}