body {
    position: relative;
    overflow-x: hidden;
    height: 3000px;
}
:root {
    --main-color: #1c7ed6;
    --main-color-o: #1c7ed655;
    --light-grey: #ccc;
    --light: #fff;
}

.container {
    height: 100%;
    width: 80%;
    margin: auto;
}
 p.text-responsive {
    font-size: 1.1rem
 }

ul {
    list-style-type: none;
}

.bg-primary {
    background-color: var(--main-color) !important;
}
.text-danger {
    color: red !important;
}
ul.navbar-nav {
    gap: 10px;
}

ul.navbar-nav .nav-item {
    padding: 0.5rem 0.2rem;
}

ul.navbar-nav .nav-item a, 
ul.navbar-nav .nav-item span.line {
    display: block;
    font: 500 16px / 1 Cairo;
}

ul.navbar-nav .nav-item span.line {
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: width .4s ease;
}

ul.navbar-nav .nav-item:hover span.line {
    width: 100%;
}
ul.navbar-nav li.nav-item > ul {
    transition: all .4s ease
}

ul.navbar-nav .nav-item:hover > a::first-letter {
    color: var(--main-color);
}

ul.navbar-nav .nav-item > ul li a {
    border-left: 5px solid transparent;
    transition: all 0.3s ease-in-out
}

ul.navbar-nav .nav-item > ul li:hover a {
    border-left-color:  var(--main-color);
    background-color: var(--main-color-o);
    color: var(--light)
}
header .search input,
header .user-form button,
header .search button {
    height: 30px;
    line-height: 30px;
    padding: 0 1em;
    border: 1px solid #1c7ed6;
    color: #1c7ed6;
    font-weight: 600;
}

#myCarousel {
    height: 40vw;
}

#myCarousel .carousel-indicators button {
    width: 3vw;
    background-color: var(--main-color-o);
    height: 0.5vw;
}
#myCarousel .carousel-indicators button:hover,
#myCarousel .carousel-indicators button.active {
    background-color:  var(--main-color);
}

.carousel .carousel-inner .carousel-item {
    height: 40vw;
    background-size: 100% 100%;
}

.carousel .carousel-inner .carousel-item .container {
    position: relative;
    max-width: 100% ;
}
.carousel .carousel-inner .carousel-item .carousel-caption {
    position: absolute;
    top: 5vw;
    transition: all .1s ease-in-out;
}

.carousel .carousel-inner .carousel-item h2 {
    font: bold 3vw/1 Cairo;
}

.carousel .carousel-inner .carousel-item p {
    margin-top: 2vw;
    font: normal 1.5vw/1.6 Cairo;
    max-width: 45%;
    text-align: justify;
}

.carousel .carousel-inner .carousel-item button {
    color: var(--main-color);
    font: bolder 1.2vw /1.4 Cairo;
    background-color: var(--light-grey);
    border: 2px solid var(var(--light-grey));
    float: right;
    margin-top: 1vw;
}
.carousel .carousel-inner .carousel-item button:hover {
    border-color:  var(--main-color);
    background-color: var(--light);
    box-shadow: 0 0 5px 2px #000;
}

aside .social-links .aside-icon {
    height: 4.5vw;
    position: relative;
    padding: 0.6vw;
}

aside .social-links .aside-icon:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border: 0.6vw solid transparent;
    top: 100%;
    left: 1vw;
    z-index: 99;
}

aside .social-links .aside-icon:nth-child(1) {
    background-color: rgb(56, 84, 211);
}
aside .social-links .aside-icon:nth-child(1):after {
    border-top-color: rgb(56, 84, 211);
}
aside .social-links .aside-icon:nth-child(2) {
    background-color: rgb(98, 216, 171);
}
aside .social-links .aside-icon:nth-child(2):after {
    border-top-color: rgb(98, 216, 171);
}
aside .social-links .aside-icon:nth-child(3) {
    background-color: rgb(96, 186, 238);
}
aside .social-links .aside-icon:nth-child(3):after {
    border-top-color: rgb(96, 186, 238);
}
aside .social-links .aside-icon:nth-child(4) {
    background-color: rgb(5, 119, 185);
}
aside .social-links .aside-icon:nth-child(4):after {
    border-top-color: rgb(5, 119, 185);
}
aside .social-links .aside-icon:nth-child(5) {
    background-color: rgb(156, 52, 241);
}

aside .social-links .aside-icon a i {
    color: var(--light);
    font-size: 32px;
    line-height: 3vw;
}

@media screen and (max-width: 992px ) {
    p.text-responsive {
        font-size: 0.8rem
    }
    .section2  .image {
        padding: 40px 10px 20px;
    }
    ul.navbar-nav {
        gap: 1px
    }
    ul.navbar-nav li.nav-item {
        padding: 0;
    }
    
    aside .social-links .aside-icon {
        height: 5vw;
    }
    ul.navbar-nav .nav-item span.line  {
        display: none;
    }
    aside .social-links .aside-icon a i {
        font-size: 28px
    }
}
@media screen and (max-width: 720px ) {
    aside .social-links .aside-icon {
        height: 6vw;
    }
    aside .social-links .aside-icon a i {
        font-size: 18px
    }
}
